@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

@import "tailwindcss";
@plugin "daisyui" {
	themes: light --default, dark;
}

* {
	font-family: "Source Sans 3", sans-serif;
}

/* custom color references */
@plugin "daisyui/theme" {
	name: "light";
	default: true;
	--color-primary: #5a8418;
	--color-secondary: #fece00;
	--color-base-200: #f3f3f3;
	--color-base-300: #e7e7e7;
	--color-accent: #706f6f;
}

/* a.active {
	@apply font-semibold border-b-4 border-secondary;
} */
